backcall==0.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
dj-database-url==0.5.0
Django==2.2.12
django-classy-tags==1.0.0
django-crispy-forms==1.9.1
django-formtools==2.2
django-hreflang==2.2
django-money==1.1
django-phonenumber-field==5.0.0
django-registration-redux==2.8
djangorestframework==3.11.0
ebaysdk==2.2.0
gettext-windows==1.0
gunicorn==20.0.4
html5lib==1.1
idna==2.9
jedi==0.17.2
lxml==4.5.1
mysql-connector-python==8.0.22
oauthlib==3.1.0
parso==0.7.1
paymob-accept==0.1.1
phonenumbers==8.12.11
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.8
protobuf==3.13.0
psycopg2==2.8.6
py-moneyed==0.8.0
pycparser==2.20
Pygments==2.7.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
