{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}

		  <div class="register-section">
			  <div class="container">
				  <div class="row">
				  <div class="register-desc col-7 d-none d-lg-block d-xl-none d-xl-block">
					  <h2>{% trans "Wellcome To Shahnli" %}</h2>
					  <img src="{% static 'images/not.svg' %}" alt="">
				  </div>
				  <div class="register-form  col-offset-2 col-lg-4 text-center col-sm-12 col-md-12">
                      {% if validlink %}
                        <p>{% trans "Enter your new password below to reset your password:" %}</p>
                   <form method="post">
					   {% csrf_token %}
                       <h5><img src="{% static 'images/profile.svg' %}" alt=""></h5>
                        {{form|crispy}}
                       <button type="submit" class="btn btn-block btn-danger mb-2" >{% trans "Set password" %}</button>
				   </form>
                      {% else %}
                      <p>{% trans "Password reset unsuccessful. Please" %} <a class="btn btn-block btn-primary href="{% url 'auth_password_reset' %}">{% trans "try again." %}</a></p>
                      {% endif %}
				  </div>
			  </div>
			</div>
		  </div>

		  <!------------------------Start Section Scrolling-------------------------------------->
    <div id="scroll-up">
	    <i class="fa fa-chevron-up fa-2x"></i>
	</div>

</body>
{% endblock %}


{# This is used by django.contrib.auth #}
