

/*----------------------- login section----------------------------------*/
.login-section {
    padding-top: 130px;
    background-color:#92E3A9;
    min-height: 100vh;
}
.login-desc h2{
    margin-bottom: 30px;
    font-family: 'Chelsea Market', cursive;
    color:#6a097d;
}
.login-desc img{
    width:100%;
    height:400px;
}

.login-form{
    background-color: #fff;
    width:200px !important;
    height: 430px;
}
.login-form  h5{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Montserrat Alternates', sans-serif; 
    color:#6a097d;

}
.login-form input{
    width:100%;
    background-color:#92E3A9;
    height:55px;
    border-radius: 10px;
}
.login-form button{
    height: 45px;
}
.login-form button a, .login-form button a:hover{
    text-decoration: none;
    color:#fff;
}
.login-form h5.or{
    margin-top: 15px;
    margin-bottom: 20px;
}


