<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment</title>
</head>
<body>
<div class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
          <img src="../img/40x40.png" alt="Logo">Navbar
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarEverything" aria-controls="navbarEverything" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarEverything" style="">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">News</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarEverythingMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarEverythingMenuLink">
              <a href="#" class="dropdown-item">History</a>
              <a href="#" class="dropdown-item">Employees</a>
              <a href="#" class="dropdown-item">Awards</a>
            </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link disabled">Contact</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="hashtag">#</span>
              </div>
              <input type="text" class="form-control" placeholder="Search" aria-describedby="hashtag">
              <button type="submit" class="btn btn-success">Search</button>
            </div>
          </form>
          <span class="navbar-text">Lorem ipsum.</span>
        </div>
      </div>
<script src="C:\Users\Eslam\Desktop\hat\project\static\js/jquery-3.1.1.min.js"></script></body>
</html>